#wrap{font-size: 14px;  }
#wrap h2{  font-size: 24px;  }
#query label{  font-size: 16px;  }
#query .form-group{  margin-right: 10px;  }
#query .navbar-right{  margin-right: 0;  }
.pagination{  margin-top: 0;  }
.small_font label{  font-size: 10px;  }
.small_span{  font-size: 10px;  font-weight: 700  }
.as{  background-color: #00a0ed !important;  }