<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 1.键值对文件 -->
	<properties resource="db.properties">
		<property name="test" value="test"/>
	</properties>
	<!-- 2.设置，暂只关注日志 -->
	<settings>
		<!-- 日志 -->
		<setting name="logImpl" value="LOG4J"/>
		<!-- 延迟加载开关 -->
		<setting name="lazyLoadingEnabled" value="true"></setting> 
		<!-- 关闭积极加载 -->
		<setting name="aggressiveLazyLoading" value="false"></setting>
		
	</settings>
	<!-- 3.类型别名 ，可以只设置包名-->
	<typeAliases>
		<package name="com.project.bean"/>
	</typeAliases>
	<!-- 4.环境变量 -->
	<environments default="development">
		<!-- 默认的开发环境，一般一个environment代表一个数据库 -->
		<environment id="development">
			<!-- 事务管理方式 -->
			<transactionManager type="JDBC"/>
			<!-- 声明使用连接池，并设置连接信息 -->
		    <dataSource type="POOLED">
		      <property name="driver" value="${driver}"/>
		      <property name="url" value="${url}"/>
		      <property name="username" value="${username}"/>
		      <property name="password" value="${password}"/>
		    </dataSource>
		  </environment>
	</environments>
	<!-- 5.管理映射关系表 -->
	<mappers>
		<mapper resource="com/project/mapper/ExpertMapper.xml"/>
		<mapper resource="com/project/mapper/ClogMapper.xml"/>
		<mapper resource="com/project/mapper/CdtlMapper.xml"/>
		<mapper resource="com/project/mapper/AreaMapper.xml"/>
		<mapper resource="com/project/mapper/ClassMapper.xml"/>
		<mapper resource="com/project/mapper/DisasterLogMapper.xml"/>
		<mapper resource="com/project/mapper/MedicineMapper.xml"/>
    	<mapper resource="com/project/mapper/StockoutDetalMapper.xml"/>
     	<mapper resource="com/project/mapper/StockoutLogMapper.xml"/>
     	<mapper resource="com/project/mapper/UserMapper.xml" />
		<mapper resource="com/project/mapper/OperateLogMapper.xml" />
		<mapper resource="com/project/mapper/IllnessDaomapper.xml"></mapper>
		<mapper resource="com/project/mapper/InsectDaomapper.xml"></mapper>
		<mapper resource="com/project/mapper/MouseDaomapper.xml"></mapper>
	</mappers>
</configuration>